<ion-header>
  <ion-toolbar color="primary">
    <ion-title>🗒️ Agenda Desa Maileppet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let agenda of agendas; let i = index">
      <ion-item lines="none">
        <ion-icon [name]="agenda.icon" slot="start" [color]="agenda.warna" size="large"></ion-icon>
        <ion-label>
          <h2>{{ agenda.judul }}</h2>
          <p>{{ agenda.lokasi }}</p>
        </ion-label>
        <ion-note slot="end" color="medium">
          {{ agenda.tanggal | date:'longDate' }}
        </ion-note>
      </ion-item>

      <ion-card-content>
        <p>{{ agenda.deskripsi }}</p>
        <ion-button fill="clear" size="small" (click)="editAgenda(i)">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Edit
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
