<ion-header>
  <ion-toolbar>
    <ion-title>Data Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let p of penjualan">
    <ion-card-header>
      <ion-card-subtitle>{{ p.tipelaptop }} - Rp{{ p.hargasatuan }}</ion-card-subtitle>
      <ion-card-title>{{ p.namapelanggan }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      No HP: {{ p.nohp }}<br>
      Jumlah: {{ p.jumlah }}<br>
      Total: Rp{{ p.totalharga }}<br>
      Tanggal: {{ p.tanggalpenjualan }}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
