<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pendataan Penjualan Laptop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Form Penjualan</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Silakan isikan form berikut untuk mencatat penjualan laptop.</p>

      <ion-list>
        <ion-item>
          <ion-label position="floating">Nama Pelanggan</ion-label>
          <ion-input type="text" [(ngModel)]="namaPelanggan"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nomor HP</ion-label>
          <ion-input type="text" [(ngModel)]="nohp"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipe Laptop</ion-label>
          <ion-input type="text" [(ngModel)]="tipeLaptop"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Harga Satuan</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="hargaSatuan"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Total Harga</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="totalharga"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Jumlah</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="jumlah"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tanggal Penjualan</ion-label>
          <ion-datetime
            presentation="date"
            [(ngModel)]="tanggalPenjualan"
            placeholder="Pilih tanggal"
          ></ion-datetime>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" color="primary" (click)="simpanPenjualan()">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          Simpan Penjualan
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
